body {text-align: center;
      background-color: black;}

img {width: 600px;
     padding: 0;
     border: 5px solid white;
     margin: 0;}

h2 {color: white;
    font-size: 40px;}

p {color: white;}